<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sobre o aplicativo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sobre o aplicativo</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
  <ion-card>
    <ion-img src="../../assets/urna.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>Urna Eletrônica</ion-card-title>
      <ion-card-subtitle>Eleições 2022</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Este aplicativo foi desenvolvido como requisito para conclusão da disciplina MOBILE.
      <ion-list>
        <ion-item>
          <ion-avatar slot="start">
            <ion-img src="http://1.gravatar.com/avatar/3106ac1fc9744c31ad85e83ea7db132e"></ion-img>
          </ion-avatar>
          <ion-label>Prof. João Ferreira
            <br />
            <h5>joaoferreirape@msn.com</h5>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
